<h2>{{  section.settings.s-heading }}</h2>

{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type": "text" ,
        "id" : "s-heading",
        "label": "セクション見出し",
        "default": "Hello!",
        "info": "見出しを入力してください"
      }
    ] ,
    "presets": [
      {
        "name": "lesson1"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}