.sticky-hero__media {
    height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0;
}

.sticky-img {
    height: 100vh;
    width: 100%;
}

.sticky-hero__content {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    color: red;
}