.slider2 {
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin: 30px 0;
  }
  
  .slides2 {
    display: flex;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }
  .slides2::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides2::-webkit-scrollbar-thumb {
    /* background: black;
    border-radius: 10px;  */
    background: transparent; 
    border: none;
  }
  .slides2::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides2 > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .carousel_text {
    font-size: 30px;
    position: absolute;
    top: 250px;
  }

  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  } 
   
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  } 

  input[type=radio] {
    display: none; /* ラジオボタンを非表示にする */
    }
    input[type="radio"]:checked + label {
    background: #31A9EE;/* マウス選択時の背景色を指定する */
    color: #ffffff; /* マウス選択時のフォント色を指定する */
    }

.label:hover {
        background-color: #E2EDF9; /* マウスオーバー時の背景色を指定する */
        }

.label {
      display: block; /* ブロックレベル要素化する */
margin: 5px; /* ボックス外側の余白を指定する */
width: 100px; /* ボックスの横幅を指定する */
height: 45px; /* ボックスの高さを指定する */
padding-left: 5px; /* ボックス内左側の余白を指定する */
padding-right: 5px; /* ボックス内御右側の余白を指定する */
color: #b20000; /* フォントの色を指定 */
text-align: center; /* テキストのセンタリングを指定する */
line-height: 45px; /* 行の高さを指定する */
cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
border-radius: 5px; /* 角丸を指定する */
      }

      /*アコーディオン全体*/
.accordion-area{
  list-style: none;
  width: 96%;
  max-width: 900px;
  margin:0 auto;
}

.accordion-area li{
  margin: 10px 0;
}

.accordion-area section {
border: 1px solid #ccc;
}

/*アコーディオンタイトル*/
.title {
  position: relative;/*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-size:1rem;
  font-weight: normal;
  padding: 3% 3% 3% 50px;
  transition: all .5s ease;
}

/*アイコンの＋と×*/
.title::before,
.title::after{
  position: absolute;
  content:'';
  width: 15px;
  height: 2px;
  background-color: #333;
  
}
.title::before{
  top:48%;
  left: 15px;
  transform: rotate(0deg);
  
}
.title::after{    
  top:48%;
  left: 15px;
  transform: rotate(90deg);

}
/*　closeというクラスがついたら形状変化　*/
.title.close::before{
transform: rotate(45deg);
}

.title.close::after{
transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
  display: none;/*はじめは非表示*/
  background: #f3f3f3;
margin:0 3% 3% 3%;
  padding: 3%;
}
